@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overflow-x: hidden;
}
section::-webkit-scrollbar {
  display: none;
}

.bg-gradient {
  width: 400px;
  height: 400px;
  background: radial-gradient(
    closest-side,
    rgb(41, 73, 108) 0%,
    rgb(38, 62, 87) 20%,
    rgba(17, 24, 39) 80%
  );
  position: absolute;
  z-index: -10;
}

.bg-gradient-upper {
  top: -200px;
  left: 80%;
  z-index: 20;
}

.bg-gradient-lower {
  bottom: 0px;
  left: -20%;
  z-index: 20;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
